.tip-calculator {
  width: 100%;
  background-color: #444;
  box-shadow: 0 1px 2px #000000;
  display: flex;
  border-radius: 5px;
}

.tip-calculator .section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 25px 15px;
  width: 100%;
}

.tip-calculator .section:not(:first-child) {
  border-left: 1px solid grey;
}

.tip-calculator .form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tip-calculator .form-group label {
  font-weight: 600;
  color: #aab3be;
}

.tip-calculator .form-group input {
  font-size: 1rem;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: white;
  width: 100%;
}

.tip-calculator .form-group input::placeholder {
  color: var(--color-text-secondary);
}

.tip-calculator .form-group input.error,
.tip-calculator .form-group input.error:focus-visible {
  border-color: red;
  outline-color: red;
  outline-style: solid;
}

.tip-calculator .form-group .counter {
  display: flex;
  gap: 3px;
  width: 100%;
}

.tip-calculator .form-group .counter button {
  font-size: 1.3rem;
  width: 30px;
  background-color: var(--color-button-background);
  color: black;
  border-radius: 3px;
  border: 0;
  transition: opacity 0.1s ease;
}

.tip-calculator .form-group .counter button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}

.tip-calculator .result-container {
  display: flex;
  flex-direction: column;
}

.tip-calculator .result-container .header-and-result {
  display: flex;
  justify-content: space-between;
}

.tip-calculator .result-container .header-and-result p {
  font-weight: 600;
  font-size: 1.75rem;
}

.tip-calculator .result-container p.per-person {
  color: var(--color-text-secondary);
}

@media screen and (max-width: 500px) {
  .tip-calculator {
    flex-direction: column;
  }

  .tip-calculator .section:not(:first-child) {
    border-left: 0;
    border-top: 1px solid grey;
  }
}
