.tip-calculator {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--container-shadow);
  width: 100%;
  display: flex;
  border-radius: 5px;
}

.tip-calculator .section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 25px 15px;
  width: 100%;
}

.tip-calculator .section:not(:first-child) {
  border-left: 1px solid var(--color-border);
  overflow-x: scroll;
}

.tip-calculator .result-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tip-calculator .result-container .header-and-result {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.tip-calculator .result-container .header-and-result p {
  font-weight: 600;
  font-size: 1.75rem;
}

.tip-calculator .result-container p.per-person {
  color: var(--color-text-secondary);
  position: absolute;
  bottom: -1.1rem;
}

@media screen and (max-width: 500px) {
  .tip-calculator {
    flex-direction: column;
  }

  .tip-calculator .section:not(:first-child) {
    border-top: 1px solid var(--color-border);
    border-left: 0;
  }

  .tip-calculator label {
    font-size: 0.875rem;
  }

  .tip-calculator .result-container .header-and-result p {
    font-weight: 600;
    font-size: 1.15rem;
  }
}
