:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg-primary: #333;
  --color-bg-secondary: #444;
  --color-border: #ffffffde;
  --color-text-primary: #ffffffde;
  --color-text-secondary: #aab3be;
  --color-button-background: #ddd;
  --color-button-background-disabled: #a1a1a1;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}