:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --container-shadow: 0 1px 2px #00000033;
  --container-shadow-heavy: 2px 2px 5px #0000003e;
  --color-bg-primary: #f0f2f6;
  --color-bg-secondary: #fff;
  --color-border: #050c1349;
  --color-text-primary: #1a202c;
  --color-text-secondary: #718096;
  --color-button-background: #ddd;
  --color-button-background-hover: #ccc;
  --color-button-background-disabled: #a1a1a1;
  --color-error: red;
  --color-link: #0079d3;

  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}